{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        تسجيل الدخول
    </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</head>
<body dir="rtl">
    <div class="container mt-5 pt-3">
        <div class="w-75 mx-auto mt-5 ">
            <div class="pt-5">
            <div class="pt-5">
            <div class="pt-5">
                <div class="w-75 mx-auto bg-light p-5 rounded-5 shadow">
                    <p class="text-dark h3 mb-3 text-center"> تسجيل الدخول</p>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {% include 'includes/form.html'%}
                        <input type="submit" value="تسجيل الدخول" class="btn btn-dark btn-block w-100">
                    </form>
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>