{% extends 'base.html'%} {% block title%}
<title>sign up</title>
{%endblock%} {% block breadcrumbList%}
<li class="breadcrumb-item active" aria-current="page">Password change</li>
{%endblock%} {% block content%}
<div class="pt-5">
  <div class="pt-5">
    <div class="pt-5">
      <div class="w-75 mx-auto bg-light p-5 rounded-5 shadow">
        <p class="text-dark h3 mb-3 text-center">تغيير كلمة المرور</p>
        <form method="post" novalidate>
          {% csrf_token %} {% include 'includes/form.html'%}
          <input
            type="submit"
            value="تعديل كلمة المرور"
            class="btn btn-dark btn-block w-100"
          />
        </form>
      </div>
    </div>
  </div>
</div>
{%endblock%}
